  <!-- MAIN  SECTION -->
  <div class="container"  *ngIf="signedIn">
      <div class="welcome"> 
        <h1> WELCOME TO OUR COZY CHAT ROOM !</h1>
        
          <button class="logout"> Logout </button>
       
      </div>
    
  <div class="content">
   <app-posts>
     
   </app-posts>
     <div>
       <div>
          
          <textarea class="message" type="text" name="content" [(ngModel)]="content" placeholder="New Message box "></textarea>
      </div>
        <button class="post-button" (click)="postMessage(content)">Post</button>
        <button class="clear-button" (click)="clearMessage()">Clear</button>
      </div>
    

  </div>

</div>

 <!-- SIGNIN SECTION -->

 <div class="signin" *ngIf="!authenticated">
    <h2 class="welcome"> PLEASE LOGIN </h2>

    <h3 *ngIf="authorizationError" style="color: red"> {{ warningMessage}} </h3>
  
    Login:<br>
  <input class="input" type="text" name="login"   [(ngModel)]="login" /> 
   
  <br><br>
  
  Password: <br>
  <input class="input" type="password" name="password" [(ngModel)]="password" />
   
  <br><br>  
    <button class="enterBtn" (click)="signIn(login, password)"> LOGIN </button>
   
    <br>
    
    or <button class="register" (click)="registerRequest()"> REGISTER </button>
</div>

<!-- END OF SIGNIN SECTION -->

<!-- REGISTER SECTION -->

<div class="signin" *ngIf="register">
  
    <h2 class="welcome"> REGISTRATION FORM </h2>

    Full Name :<br>
      <input class="input" type="text" name="name" [(ngModel)]="newUser.userFullName"/>
      <br> <br>

      Login: <br>
        <input class="input" type="text" name="text" [(ngModel)]="newUser.login" />
    <br><br>

    Password: <br>
        <input class="input" type="password" name="password" [(ngModel)]="newUser.password" />
    <br><br>

    <button class="enterBtn" (click)="registerUser(newUser)"> REGISTER </button>
    <br>
</div>

<!-- END OF REGISTER SECTION -->

