


<div class="container">
  <div class="welcome"> 
    <h1> WELCOME TO OUR COZY CHAT ROOM !</h1>
  </div>


  <!-- MAIN  SECTION -->

  <div class="content">
   <app-posts>
     
   </app-posts>
     <div>
       <div>
          <textarea class="message" type="text" name="content" [(ngModel)]="content"></textarea>
      </div>
        <button class="post-button" (click)="postMessage(content)">Post</button>
        <button class="clear-button" (click)="clearMessage()">Clear</button>
      </div>
    

  </div>

</div >

 <!-- SIGNIN SECTION -->

 <!--<div class="signin">
    <h2> LOGIN FORM </h2>

    <h3 *ngIf="authorizationError" style="color: red"> Authorization Error </h3>
  
    Login:<br>
  <input type="text" name="email"   [(ngModel)]="email" /> 
   
  <br><br>
  
  Password: <br>
  <input type="password" name="password" [(ngModel)]="password" />
   
  <br><br>  
    <button class="enterBtn" (click)="onLogin(email, password)"> LOGIN </button>
    <br>
    
    <a routerLink="/register"> REGISTER </a>
</div>-->

<!-- END OF SIGNIN SECTION -->

<!-- REGISTER SECTION -->

<!--<h2> REGISTRATION FORM </h2>

Full Name :<br>
  <input type="text" name="name" [(ngModel)]="newPatient.name"/>
  <br> <br>
Password: <br>
    <input type="password" name="password" [(ngModel)]="newPatient.password" />
<br><br>

<button class="enterBtn" (click)="addPatient(newPatient)"> REGISTER </button>
<br>-->

<!-- END OF REGISTER SECTION -->

